* {
	margin: 0;
	padding: 0;
}
body {
    background: url('bg-12col.png') center repeat-y;
	font-family: 'Nunito Sans', sans-serif;
  width: 100%;
}

header {
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    height: 300px;
    overflow: hidden;
}


header div {
	clear: both;
}


h2{
  color:#444444;      
}

h3{
   color:#444444;  
    padding-top:40px;
}

h4{
    color:white;
}

p{
  color:#515151;
}

#logo {
    float: left;
    margin: 50px 0;
    width: 140px;
}


#header-widget-area {
  float: right;
  width: 140px;
}

#search-button {
	float: right;
	width: 4%;
	margin-top: 195px;
    
}

#content {
	width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 2px dotted black;
  clear: both;


}

.slider {
	max-width: 940px;
}

#content::after {
  content: "";
  display: block;
  clear: both;
}

#footer::after {
  content: "";
  display: block;
  clear: both;
}

#footer {
	width: 940px;
	margin: 0 auto;
	padding: 0 20px;
}

#footer p {
	clear: both;
}

#left {
	float: left;
	max-width: 485px;
  padding: 50px;
  
  
}

#left p {
 color: #ffffff;
  
}

#left h3 {
  color: #ffffff;
  padding-top:0px;
}

#right {
	float: right;
	width: 220px;
  padding: 50px;
  

}

#right p {
  color: #ffffff;
}

.square {
	float: left;
	display:inline;
	
	width: 300px;
  margin: 80px 0;
  margin-right: 20px;
	margin-top: 15px;
	text-align: center;

	}

  .square:hover {
    background-color: #B5B5B5;
    opacity: .9;
  }

.square h3, .square p {
	text-align: center;
}


.square p {
    margin: 40px 0;
}
.square button {
    width: 200px;
    line-height: 35px;
    font-size: 1.2em;
    font-weight: 300;
    background-color: #9B7185;
    color: white;
    border: none;

}



#content h2 {
    text-align: center;
}

#last {
	margin-right:0px;

}

.last {
	margin-right: 0;
}

#nav-left:after {
    content: '';
    display: inline-block;

	margin-left: 400px;
}


#nav-left {
    float: left;
    margin-top: 205px;
    width: 650px;
    margin-left: 10%;
    margin-right: 135px;
    position: absolute;
    margin-top: 195px;
}


/* Sub Menus */
  #nav-left li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

#nav-left li:hover ul {
    display: block;

  }
#nav-left li:hover ul li {
    display: block;
    
  }


ul {
    margin: 0;
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}



/*#logo {
  position: absolute;
  left: 50%;
  margin: -48px 0px 0px -108px;
  -top: 90px;
}*/

.left-content {
    float: left;
    width: 520px;
   }
.right-content {
    float: right;
    width: 380px;
}
#clear {
	clear: both;
}

.squareone {
    float: left;
    display: inline;
    margin-right: 20px;
    margin-top: 35px;
}

.partners{
    max-width: 200px;
}

.icon{
    max-width: 60px;
}

.footertop{
    clear:both;
    text-align: center;
    line-height: 800%; 
    display: block;
   
    text-align: center;
    line-height: 800%;

}

.footertop p {
  font-family: 'Nunito Sans',
  sans-serif;
  font-size: 24px;
  color: #636363;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footerbottom{
    text-align: center;
    border-top: 1px dotted white;
    clear: both;




}

div.footerdown{
    background-color: #9B7185;
    padding-top:30px;
    color: #FFFFFF;
    
}

div.footerdown p{
    color: #FFFFFF;
   
    
}

.mainadopt{    
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;
border: solid 1px #B2B2B2;
    clear:both;
}

.adopttop{
    clear: both;
    display: block; 
    text-align: center;
    line-height: 150%;   
    padding-bottom: 30px; 
    border-bottom: dotted 1px #B2B2B2;
    
   
}

.adoptpic{  
    float:left;
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px; 
    
}

.adoptcatpic{    
    float:right;
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;   
}

.adoptcatword{
    float:left;    
    max-width: 35%;
    line-height: 200%;
    text-align: center;
    display: inline;
    padding-top: 40px;
    margin-left: 20px;
}


.adoptword{
    float:right;  
    max-width: 35%;
    line-height: 200%;
    text-align: center;
    display: inline;
     padding-top: 40px;
    margin-right: 20px;
}

.dogsection{   
    clear:both;     
}

.catsection{
  clear:both;
  border-top: dotted 1px #B2B2B2;  
}

img.adopttoppic{  
    padding-top: 20px;
    max-width: 300px;
    max-height: 250px;
 
}

img.adoptdog{
    max-width: 540px;
    max-height: 250px;
}

button.buttonclick1 {
    position: relative;
    width: 311px;
    height: 43px;
    border: 1px;
    text-align:center;   
    font-size:15px;
    background-color: #A36E86;
    color:white;      
}

button.buttonclick2 {
    position: relative;
    width: 311px;
    height: 43px;
    border: 1px;
    text-align:center;   
    font-size:15px;
    background-color: #A36E86;
    color:white;      
}

.button1{
    padding:50px;
}

img.donatetoppic{  
    padding-top: 20px;
    max-width: 300px;
    max-height: 550px;
}

.donatetop{
    clear: both;
    display: block; 
    text-align: center;
    line-height:40px; 
    padding-bottom: 40px; 
   
}

.donatemiddle{
  width: 940px;
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
    border-top: dotted 1px #B2B2B2;   
}

/*add footer style*/
p.singupheader{
    color:#FFFFFF;
   padding-top: 18px;
    font-size: 27px;
    
}